<div class="grid grid-cols-4 gap-6 mx-20 my-5">
  <div style="position: relative;margin: auto;">
    <div class="pic">
      <img
        src="https://static.irantic.com/storage/show/show_image/qEhT74XnljSnjszUYRDzrwHkcVpzVXWCxFjn7qzh.jpg"
        alt=""
      />
    </div>
    <div class="box" style="text-align: center;">
      <a style="margin-top: 95px">جنگ کثیف</a>
      <ul class="dis-ul-li" >
        <li class="dis-ul-li">
          <span class="dott">.</span>
          فیلم‌
        </li>
        <li class="dis-ul-li">
          <span class="dott">.</span>
          اجتماعی
        </li>
        <li class="dis-ul-li">
          <span class="dott">.</span>
          120دقیقه
        </li>
      </ul>
      <button style="text-align: center;">
        <mat-icon class="py-2">add_shopping_cart</mat-icon>
        خرید بلیط
      </button>
    </div>
  </div>
</div>
