<div style="text-align: center">
  <span
    class="textTitle my-8"
    style="border-bottom: 1px solid white; text-align: center"
  >
    بلیط سینما
  </span>

  <!-- <div class="grid grid-cols-4 gap-4 mx-20 my-5" > -->
  <div
    class="grid sm:grid-cols-2 mx-10 md:grid-cols-3 lg:grid-cols-4 gap-4 mx-20 my-5"
  >
    <div style="position: relative; margin: auto" *ngFor="let post of posts">
      <div class="pic">
        <img src="{{ post.img }}" alt="" />
      </div>
      <div class="box" style="text-align: center">
        <a>{{ post.title }}</a>

        <ul class="dis-ul-li" style="text-align: center">
          <li class="dis-ul-li">
            <span class="dott">.</span>
            {{ post.type }}
          </li>
          <li class="dis-ul-li">
            <span class="dott">.</span>
            {{ post.typeMovies }}
          </li>
          <li class="dis-ul-li">
            <span class="dott">.</span>
            {{ post.time }}دقیقه
          </li>
        </ul>
        <button
          (click)="buyTicket(post.id)"
          style="text-align: center"
          routerLink="sans/:id"
        >
          <mat-icon class="py-2">add_shopping_cart</mat-icon>
          خرید بلیط
        </button>
      </div>
    </div>
  </div>
</div>
