<div class="my-5 flex flex-row ...">
  <div
    class="flex flex-wrap md:mx-10"
    *ngFor="let item of itemSans"
    key="item.index"
  >
    <div
      class="box flex-item"
      (click)="selectedSans(item); refresValue()"
      [ngClass]="{
        active: item.active && activeIndex === itemSans.indexOf(item)
      }"
    >
      <ul class="dis-ul-li">
        <li class="dis-ul-li">
          {{ item.time }}
        </li>
        <li class="dis-ul-li">{{ item.money | currency : "IRR" : "" }}تومان</li>
      </ul>
    </div>
  </div>
</div>
