<div class="my-5 flex-container">
  <div
    class="flex flex-wrap mx-4 md:mx-20"
    *ngFor="let item of itemSans"
    key="item.index"
  >
    <div
      class="box flex-item"
      (click)="selectedSans(item)"
      [ngClass]="{
        active: item.active && activeIndex === itemSans.indexOf(item)
      }"
    >
      <ul class="dis-ul-li">
        <li class="dis-ul-li">
          {{ item.time }}
        </li>
        <li class="dis-ul-li">{{ item.money | currency : "IRR" : "" }}تومان</li>
      </ul>
    </div>
  </div>
</div>
