<!-- <div class="footerBox">
  <div>
    <h3>درباره ی سینما آفتاب</h3>
    <span> پرسش‌های متداول </span>
    <span>قوانین و مقررات </span>
    <span>درباره ما </span>
    <span>ارتباط با ما </span>
  </div>
  <div>
    <h3>سایر امکانات</h3>
    <span> خرید ها </span>
    <span>سالن‌ها </span>
    <span>اخبار </span>
    <span>تگ‌ها </span>
  </div>
</div> -->

<!-- <div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>درباره ما</h3>
        <p>سینماXYZ یک پلتفرم آنلاین برای تماشای فیلم‌های جدید است. با ما همراه شوید و جذابیت هنر سینما را تجربه کنید.</p>
      </div>
      <div class="col-md-4">
        <h3>لینک‌های مفید</h3>
        <ul>
          <li><a href="#">فیلم‌ها</a></li>
          <li><a href="#">تئاترها</a></li>
          <li><a href="#">بلیت‌ها</a></li>
          <li><a href="#">اخبار</a></li>
          <li><a href="#">تماس با ما</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>دنبال کنید</h3>
        <ul class="social-media">
          <li><a href="#"><i class="fab fa-facebook-f">۱</i></a></li>
          <li><a href="#"><i class="fab fa-twitter">۱</i></a></li>
          <li><a href="#"><i class="fab fa-instagram">۱</i></a></li>
          <li><a href="#"><i class="fab fa-youtube">۱</i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p>تمامی حقوق محفوظ است. سینما آفتاب ۱۴۰۲</p>
    </div>
  </div>
</div> -->

<div class="footer  mx-20">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section" style="text-align: center;">
        <h3 >درباره سینما آفتاب</h3>
        <p>
          سینما آفتاب یک پلتفرم آنلاین برای تماشای فیلم‌های جدید است.
          <br />
          با ما همراه شوید و جذابیت هنر سینما را تجربه کنید.
        </p>
      </div>
      <div class="footer-section" style="text-align: center;">
        <h3>لینک‌های مفید</h3>
        <ul>
          <li><a href="#">پرسش‌های متداول </a></li>
          <li><a href="#">قوانین و مقررات </a></li>
          <li><a href="#">اخبار</a></li>
          <li><a href="#">تماس با ما</a></li>
          <li><a href="#">ارتباط با ما </a></li>
        </ul>
      </div>
      <div class="footer-section"style="text-align: center;">
        <h3>دنبال کنید</h3>
        <ul class="social-media">
          <li>
            <a href="#">
              
              <i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p>تمامی حقوق محفوظ است. سینما آفتاب ۱۴۰۲</p>
    </div>
  </div>
</div>
