<div class="footer mx-20">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section" style="padding:10px;">
        <h3>درباره سینما آفتاب</h3>
        <p>
          سینما آفتاب یک پلتفرم آنلاین برای تماشای فیلم‌های جدید است. با ما
          همراه شوید و جذابیت هنر سینما را تجربه کنید.
        </p>
      </div>
      <div class="footer-section" style="padding:10px;">
        <h3>لینک‌های مفید</h3>
        <ul>
          <li><a href="#">پرسش‌های متداول </a></li>
          <li><a href="#">قوانین و مقررات </a></li>
          <li><a href="#">اخبار</a></li>
          <li><a href="#">تماس با ما</a></li>
          <li><a href="#">ارتباط با ما </a></li>
        </ul>
      </div>
      <div class="footer-section" style="padding:10px;">
        <h3>دنبال کنید</h3>
        <ul class="social-media">
          <li>
            <a href="#"> <i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p>تمامی حقوق محفوظ است. سینما آفتاب ۱۴۰۲</p>
    </div>
  </div>
</div>
