.it-header {
    
    padding: 0 auto;
}
.toolbar {
  background-color: #131313;
  color: #cbcbcb;
  overflow: hidden;
  display: flex;
}
.item-tolbar {
  flex: 2;
}
.it-button{
    padding: 5px 7px;
    border: 2px solid #cbcbcb;
    border-radius: 7px;
    background-color: #131313;
    color: #cbcbcb;
}