<div class="it-header mx-20">
  <mat-toolbar class="toolbar">
    <img src="assets/images/img.png" width="70" height="70" />
    <span style="text-align: center" class="px-2">سینما آفتاب</span>
    <div class="toolbar" style="width: 50%; margin: auto">
      <div class="item-tolbar-flex text-center">
        <span> درباره ی ما</span>
      </div>
      <div class="item-tolbar-flex text-center">
        <span> تماس باما</span>
      </div>
      <div class="item-tolbar-flex text-center">
        <span> اخبار</span>
      </div>
      <div class="item-tolbar-flex text-center">
        <span> کد تخفیف</span>
      </div>
    </div>

    <button class="it-button">
      <mat-icon>person</mat-icon>
      ورود به برنامه
    </button>
  </mat-toolbar>
</div>
