<div class="flex flex-weap mx-20">
  <div class="m-auto text-center">
    <h1 style="padding: 10px">سینما آفتاب</h1>
    <p style="padding: 20px">
      دیگه لازم نیست
      <br />
      برای خرید بلیط تو صف بمونی و معطل شی
      <br />
      فقط با چندتا کلیک حتی صندلی مورد نظرت هم میتونی رزرو کنی
    </p>
    <button
      class="bg-slate-50 text-white font-bold py-2 px-4 rounded"
      style="color: #131313; padding: 7px 25px"
    >
      بزن بریم
    </button>
  </div>
  <div class="">
    <img src="assets/images/img-slideShow_prev_ui.png" alt="" />
  </div>
</div>
